@charset "UTF-8";

@import url(font.css);
@import url(reset.css);


body {font-family: 'Presentation';}


header .headerbox {
    display: flex; justify-content: space-between; align-items: end;
    width: 1366px; margin: 0 auto; padding: 10px 0;
}
    header .contentbox {
        display: flex; justify-content: space-between; align-items: center;
        width: 990px;
    }
    header h1.logo {
        width: 141px;
    }
    header nav {
        
    }
        header nav ul.gnb {
            display: flex; justify-content: space-between;
        }
        header nav ul.gnb > li {
            position: relative;
            display: flex;
        }
        header nav ul.gnb > li > a {
            font-size: 25px; font-weight: 500; padding: 20px 60px;
        }
            header .gnb .lnb {
                position: absolute; top: 70px; z-index: 10;
                width: 100%;
            }
            header .gnb .lnb li {
                overflow: hidden;
                height: 0; transition: 0.3s;
            }
            header .gnb .lnb li a {
                display: flex; justify-content: center; align-items: center;
                width: 100%; height: 50px;
                background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(3px);
                border-bottom: 1px solid #6C4315;
            }
            header .gnb .lnb li a:hover {
                background: #6C4315; color: #fff; transition: 0.2s;
            }
            header .gnb > li:hover .lnb > li {
                height: 51px; transition: 0.3s;
            }
            header .gnb > li:hover {
                background: url(../images/Line\ 19.png) no-repeat 37px 45px;
            }
            header .gnb > li.ww:hover {
                background: url(../images/Line\ 19.png) no-repeat 30px 45px;
            }
    header .btn_sns {
        display: flex; justify-content: space-between;
        width: 119px;
    }

.hero {
    position: relative;
    display: flex; align-items: center; flex-direction: column;
    width: 100%; height: 936px;
}
    .hero > img.brandnew {
        position: absolute; right: 50%;
        margin-right: -260px;
    }
    .hero > img.heroimg {
        border-radius: 60%; margin-top: 134px;
    }
    .hero .textbox {
        position: absolute; left: 50%; margin-left: 413px; top: 50%; margin-top: -109px;
    }
        .hero .textbox h2 {
            font-size: 48px; font-weight: 500; color: #6C4315;
        }
        .hero .textbox > p {
            font-family: 'Shouting'; font-size: 48px; margin-top: -10px; color: #6C4315;
        }
        .hero .textbox .btn_go {
            width: 258px; height: 74px; margin-top: 17px;
            background: #6C4315;
        }
        .hero .textbox .btn_go:hover {
            background: #885924; transition: 0.3s;
        }
        .hero .textbox .btn_go a {
            display: flex; justify-content: center; align-items: center; gap: 63px;
            height: 100%; color: #fff; font-size: 24px;
        }
        .hero .textbox .btn_go a > p {
            margin-left: 50px;
        }
    .hero > h2 {
        display: flex; justify-content: center; align-items: start;
        width: 628px; height: 185px; background: url(../images/Deep\ chocolate\ sea.png) no-repeat; font-size: 64px; font-family: 'Aritaburi'; color: #6C4315; margin-top: 10px;
    }

section {
    width: 100%;  margin-top: 75px;
}
    section .cont1 {
        display: flex; justify-content: center; align-items: center; margin-bottom: 190px;
        height: 100%;
        background: url(../images/cont_bg.png) no-repeat center top ; 
        padding: 200px 0;
    }
    section .cont1 .bgbox {
        display: flex; justify-content: center; align-items: center; gap: 14px;
        width: 66vw; background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(10px); padding: 80px 40px;
    }
        section .cont1 .textbox {
            width: 33vw;
            font-size: 20px; color: #573124;
        }
        section .cont1 .textbox p:nth-child(1) {
            font-size: 24px;
        }
        section .cont1 .textbox p:nth-child(2) {
            font-size: 24px;
        }
            section .cont1 .textbox p:nth-child(2) span:nth-child(1) {
                font-size: 36px; font-weight: 600;
            }
            section .cont1 .textbox p:nth-child(2) span:nth-child(2) {
                font-size: 16px;
            }
        section .cont1 .textbox p:nth-child(3) span:nth-child(1) {
            font-size: 15px;
        }
        section .cont1 .textbox p:nth-child(3) span:nth-child(2) {
            font-weight: 600;
        }

    section .cont2 {
        margin-bottom: 190px;
    }
        section h2 {
            text-align: center;
            color: #573124; font-size: 36px; font-weight: 600;
        }
        section .h2wrap {
            position: relative; left: 15px;
            display: flex; justify-content: center; align-items: end;
            height: 42px; margin-top: 105px;
        }
        section .designdot {
            width: 13px; height: 13px;
            background: url(../images/designdot.png); margin: 7px 8px;
        }
        section .cont2 .swiper {
            margin-top: 28px;
        }
        section .cont2 .swiper-wrapper {
            position: relative; left: -10.5vw;
            display: flex; align-items: center; gap: 100px;
            width: 2175px;
        }
            section .cont2 .swiper-wrapper .swiper-slide {
                display: flex; justify-content: center; flex-direction: column;
                width: 355px;
            }
            section .cont2 .swiper-wrapper img {
                width: 100%; cursor: grab;
            }
            section .cont2 .swiper-wrapper p {
                text-align: center;
                font-size: 20px; padding: 22px 0;
            }
        section .cont2 .swiper-pagination {
            position: relative; margin-top: 35px;
        }

    section .cont3 {
        height: 100%; margin-bottom: 174px;
    }
        section .cont3 .containerwrap {
            display: flex; justify-content: center; gap: 6vw;
            margin-top: 25px;
        }
        section .cont3 .container {
            display: flex; flex-direction: column; gap: 19px;
        }
        section .cont3 .container a {
            display: flex; justify-content: center; align-items: center; gap: 15px;
            font-size: 20px; color: #6C4315; font-weight: 500;
        }
        section .cont3 .container > img:hover {
            filter: brightness(0.7); transition: 0.3s; cursor: pointer;
        }

footer {
    display: flex; justify-content: center; align-items: center; gap: 40px;
    width: 100%; height: 202px; margin-bottom: 50px; color: #fff;
    background: #0C3A2D;
}