@charset "UTF-8";

@import url(font.css);
@import url(reset.css);


body {font-family: 'Presentation';}


header .headerbox {
    display: flex; justify-content: space-between; align-items: end;
    width: 1366px; margin: 0 auto;
}
    header .contentbox {
        display: flex; justify-content: space-between; align-items: center;
        width: 990px;
    }
    header h1.logo {
        width: 141px;
    }
    header nav {
        width: 663px;
    }
        header nav ul.gnb {
            display: flex; justify-content: space-between;
        }
        header nav ul.gnb > li {
            position: relative;
            display: flex;
        }
        header nav ul.gnb > li > a {
            padding: 20px 50px; font-size: 25px; font-weight: 500;
        }
            header .gnb .lnb {
                position: absolute; top: 70px; z-index: 10;
                width: 100%;
            }
            header .gnb .lnb li {
                overflow: hidden;
                height: 0; transition: 0.3s;
            }
            header .gnb .lnb li a {
                display: flex; justify-content: center; align-items: center;
                width: 100%; height: 50px;
                background: rgba(255, 255, 255, 0.8); backdrop-filter: blur(3px);
                border-bottom: 1px solid #6C4315;
            }
            header .gnb > li:hover .lnb > li {
                height: 51px; transition: 0.3s;
            }
            header .gnb > li:hover {
                background: url(../images/Line\ 19.png) no-repeat 25px 45px;
            }
    header .btn_sns {
        display: flex; justify-content: space-between;
        width: 119px;
    }

.hero {
    position: relative;
    display: flex; align-items: center; flex-direction: column;
    width: 100%; height: 936px;
}
    .hero > img.brandnew {
        position: absolute; right: 50%;
        margin-right: -260px;
    }
    .hero > img.heroimg {
        border-radius: 60%; margin-top: 134px;
    }
    .hero .textbox {
        position: absolute; left: 50%; margin-left: 413px; top: 50%; margin-top: -109px;
    }
        .hero .textbox h2 {
            font-size: 48px; font-weight: 500; color: #6C4315;
        }
        .hero .textbox > p {
            font-family: 'Shouting'; font-size: 48px; margin-top: -10px; color: #6C4315;
        }
        .hero .textbox .btn_go {
            width: 258px; height: 74px; margin-top: 17px;
            background: #6C4315;
        }
        .hero .textbox .btn_go:hover {
            background: #795f41; transition: 0.3s;
        }
        .hero .textbox .btn_go a {
            display: flex; justify-content: center; align-items: center; gap: 63px;
            height: 100%; color: #fff; font-size: 24px;
        }
        .hero .textbox .btn_go a > p {
            margin-left: 50px;
        }
    .hero > h2 {
        display: flex; justify-content: center; align-items: start;
        width: 628px; height: 185px; background: url(../images/Deep\ chocolate\ sea.png) no-repeat; font-size: 64px; font-family: 'Aritaburi'; color: #6C4315; margin-top: 10px;
    }